.portada{
    background-image: url(Imagenes/fondo.jpeg);
    position: absolute;
    width: 100%;
    
}

.bg-menu{
    color: #513631;
    background: rgb(196,173,163);
    background: linear-gradient(180deg, rgba(196,173,163,1) 0%, rgba(248,244,241,1) 87%);
    padding: 57px 10px 55px 10px;
}

.container-fluid{
    margin: 0px;
    padding: 0px;
}

.navbar-brand-font{
    font-family: Fuente_Cursiva;
    font-weight: bolder;
    font-size: 2em;
}

@font-face {
    font-family: "Fuente_Cursiva";
    src: url("Fuentes/Fuente_Portada.ttf");
}
